@import "../colors";
@import "../mixins";
@import "../variables";

#item-blog-instagram {

 cursor: pointer;
  * {
    font-family: IRANSans;
  }

  @include padding(12px, 5px, 5px, 5px);
  @include border-type(0px, 0px, 0px, 1px, $color-gray-level-e, solid);
  width: 100%;

  img {
    @include margin(5px, 0px, 0px, 10px);
    width: auto;
    height: 80px;
    // width: 98px;
    // height: 98px;
  }

  .text-instagram {
    direction: rtl;
    @include textAlign(justify);
    @include font-style($color-black, 11px, 19px, normal);
    @include margin(0px, 0px, 10px, 0px)
  }

  .container-date {
    @include textAlign(right);
    @include font-style($color-light-border, 10px, 10px, normal);
    @include margin(10px,0px,0px,0px);
    direction: rtl;
  }
}
