$color-footer: #D5D9DF;
$color-footer-text: #707070;
$color-black: #000000;
$color-black-unselect: #000000;
$color-black-select: #000000;
$color-gray: #727272;
$color-gray-text: #252525;
$color-dark-gray: #414548;//Login7&search btns
$color-black-2: #161A1E;
$color-light-border: #D8D8D8;
$color-red-text: #DA291C;
$color-red-blog-link: #e11a27;
$color-dark-red-text: #C00;
$color-selected-li: #DA291C;
$color-active-tab-border: #E32618;
$color-download-link: #ed1c24;
$color-sub-title: #FF9595;
$color-all-button: #727272;
$color-gray-level-c: #CCCCCC;
$color-gray-level-c-9: #c9c9c9;
$color-gray-level-c-9-border: #c9c9c947;
$color-gray-level-b: #b5b5b5;
$color-gray-level-d: #f2f2f2;
$color-gray-level-e: #E0E0E0;
$color-gray-level-f: #edf0f5;
$color-gray-level-g: #ccc;//foter line
$color-gray-level-8: #808185;
$color-gray-resource-bg: #e6e6e6 ;
$color-gray-resource-text: #333333 ;
$color-gray-level-4: #F2F4F8;
$color-blue-blog-posts: #2c9adc;
$color-gray-select: #FFF6F6;
$color-gray-select-border: #FFABAB;
$color-top-projects-section: #EDF0F5;
$color-main-features-section: #EDF0F5;
$color-login-button: #424548;
$color-white: #fff;
$color-white-level-0: rgba(255, 255, 255, 0);
$color-white-level-4: #444444;
$color-divider-menu: #686A6C;
$color-bg-menu: #161A1E;
// $color-bg-login-button: #343233;
$color-bg-menu-transrarent: #161a1ede;
$color-overlay: rgba(22, 26, 30, 0.75);
$color-font-small-text: #535353;
$color-bg-section-customer-small: #6B7074;
$color-font-section-customer-small: #B7BABB;
$color-sub-primary: #242426;
$color-sub-sub-primary: #4E4B4D;
$color-bg-pagination: #FE033E;
$color-line-separated: #868686;
$color-forget-password:#2C9ADC;
$color-bg-calender-blog:#FCE0DE;
$color-bg-post:#0606060a;
$color-blog-titles:#2c3e50;



